 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1037px;
}

.u-section-1 .u-image-1 {
  height: 504px;
  width: 939px;
  object-position: 50% 100%;
  margin: 0 auto;
}

.u-section-1 .u-group-1 {
  width: 946px;
  min-height: 843px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -12px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 0 30px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 662px;
  width: 541px;
  margin: 17px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: auto;
}

.u-section-1 .u-label-1 {
  font-weight: 900;
  font-style: italic;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
}

.u-section-1 .u-label-2 {
  font-weight: 900;
  font-style: italic;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: auto;
}

.u-section-1 .u-label-3 {
  font-weight: 900;
  font-style: italic;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: auto;
}

.u-section-1 .u-label-4 {
  font-weight: 900;
  font-style: italic;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: auto;
}

.u-section-1 .u-label-5 {
  font-weight: 900;
  font-style: italic;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: auto;
}

.u-section-1 .u-label-6 {
  font-weight: 900;
  font-style: italic;
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-7 {
  margin-left: auto;
}

.u-section-1 .u-btn-1 {
  margin-left: auto;
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  text-transform: none;
}

.u-section-1 .u-custom-html-1 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-1 .u-image-1 {
    height: 505px;
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: 106px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-1 .u-form-1 {
    width: 465px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: 109px;
  }
}